﻿/*----------------------------------------通用模块---------------------------------------------------*/
  /*全局定义*/
html, body {height: 100%; font-family:Microsoft YaHei; background:#ebebeb;}
/*-----------vue------------------*/
[v-cloak] {
  display: none;
}
